### Results  - Hive

In [1]:
from data_processing import *

In [2]:
SEPARATHOR = ','
XLSX_FILE_NAME = 'hive_results.xlsx'
# FILE_PATH = '../finished_tests/final_tests_allOthello_partHex.csv'
FILE_PATH = '../finished_tests/prarameters_tests/hive_results.csv'

In [3]:
df, result_df, df_tournament = process_data(FILE_PATH, SEPARATHOR, 'hive')

In [4]:
result_df[:6]

,wins,draws,defeats,avg game time,score,win%,draws%,defeats%,no games
greedyhive_strategy,48,42,1,2394.08,69.0,52.747253,46.153846,1.098901,91
evaluatehive_strategy,45,45,4,7753.87,67.5,47.872340,47.872340,4.255319,94
random_strategy,33,53,3,2071.77,59.5,37.078652,59.550562,3.370787,89
mobility_strategy_vs,20,62,8,6813.71,51.0,22.222222,68.888889,8.888889,90
mobility_strategy,0,89,4,4471.71,44.5,0.000000,95.698925,4.301075,93
alphabeta4,20,17,58,16232.78,28.5,21.052632,17.894737,61.052632,95

In [5]:
df_tournament.iloc[:6,:6]

,greedyhive_strategy,evaluatehive_strategy,random_strategy,mobility_strategy_vs,mobility_strategy,alphabeta4
greedyhive_strategy,0-4-1,0-5-0,1-4-0,2-3-0,0-5-0,5-0-0
evaluatehive_strategy,0-4-1,0-5-0,0-5-0,0-5-0,0-5-0,5-0-0
random_strategy,0-3-2,0-5-0,0-5-0,0-5-0,1-4-0,5-0-0
mobility_strategy_vs,0-5-0,0-0-5,0-4-0,0-5-0,0-5-0,5-0-0
mobility_strategy,0-5-0,0-5-0,0-5-0,0-5-0,0-5-0,0-5-0
alphabeta4,0-0-5,0-0-5,0-2-3,0-5-0,0-5-0,5-0-0

In [18]:
writer = pd.ExcelWriter('hive_results.xlsx', engine='xlsxwriter')
result_df.to_excel(writer, sheet_name='result_df')
df_tournament.to_excel(writer, sheet_name='df_tournament')
writer.save()

In [6]:
df.sample(3)

,game_type,player1,player2,winner,seed,game_time
113,hive,mobility_strategy,mobility_strategy_vs,0,22025002,1040.219863
181,hive,alphabeta4,alphabeta4,1,22025002,1612.397125
255,hive,alphabeta4,mobility_strategy,0,22025003,3361.240698

In [ ]:
get_all_games_of_player(df, random_strategy)

In [ ]:
import pandas as pd

In [18]:
df = pd.read_csv(FILE_PATH, sep=SEPARATHOR, header=None)

df.columns = ['game_type','player1','player2','winner','seed','game_time']

df = df[df['game_type']=='hive']

df['time_min']=df['game_time']/(60)
df['time_h']=df['game_time']/(60*60)
df['time_day']=df['game_time']/(24*60*60)

In [22]:
df.groupby(by=['player1'], as_index=True).agg({'game_time':'count',
'time_min': 'mean',
'time_h': 'mean',
'time_day': 'mean'})

,game_time,time_min,time_h,time_day
player1,,,,
alphabeta10,39,176.429899,2.940498,0.122521
alphabeta4,49,203.910029,3.398500,0.141604
alphabeta6,49,168.338651,2.805644,0.116902
alphabeta8,49,197.691221,3.294854,0.137286
evaluatehive_strategy,49,197.796499,3.296608,0.137359
greedyhive_strategy,45,12.535601,0.208927,0.008705
mcts1000,6,2383.220716,39.720345,1.655014
mctsrave1000,10,2192.571274,36.542855,1.522619
mctsstrategy1000(greedyhive_strategy),1,1513.667128,25.227785,1.051158
mobility_strategy,47,89.406326,1.490105,0.062088
mobility_strategy_vs,45,99.230551,1.653843,0.068910
random_strategy,45,24.603526,0.410059,0.017086

In [23]:
df.groupby(by=['player2'], as_index=True).agg({'game_time':'count',
'time_min': 'mean',
'time_h': 'mean',
'time_day': 'mean'})

,game_time,time_min,time_h,time_day
player2,,,,
alphabeta10,47,129.305782,2.155096,0.089796
alphabeta4,46,315.105168,5.251753,0.218823
alphabeta6,46,289.240935,4.820682,0.200862
alphabeta8,47,133.379228,2.222987,0.092624
evaluatehive_strategy,45,40.410098,0.673502,0.028063
greedyhive_strategy,46,62.395673,1.039928,0.043330
mcts1000,3,2009.364398,33.489407,1.395392
mctsrave2000,1,1392.186882,23.203115,0.966796
mctsstrategy1000(greedyhive_strategy),18,1716.872589,28.614543,1.192273
mobility_strategy,46,51.353648,0.855894,0.035662
mobility_strategy_vs,45,116.858159,1.947636,0.081151
random_strategy,44,40.855535,0.680926,0.028372