### Results  - Othello

In [1]:
from data_processing import *

In [2]:
SEPARATHOR = ','
# FILE_PATH = '../all_results_othello_pc.csv'
FILE_PATH = '../finished_tests/prarameters_tests/hex_othello_results_param_test.csv'
FILE_PATH2 = '../finished_tests/prarameters_tests/fast_othello.csv'

In [3]:
df = read_data_of_game(FILE_PATH, SEPARATHOR, 'othello')
result_df = check_data_and_create_result_df(df, True)
df_tournament = create_tournament_df(df, list(result_df.index))

In [4]:
df2 = read_data_of_game(FILE_PATH2, SEPARATHOR, 'othello')
result_df2 = check_data_and_create_result_df(df2, True)
df_tournament2 = create_tournament_df(df2, list(result_df2.index))

In [31]:
df

,game_type,player1,player2,winner,seed,game_time
0,othello,mapbaseothello_strategy,greedyothello_strategy,1,22025004,3.812183
1,othello,mapbaseothello_strategy,greedyothello_strategy,1,22025001,3.897260
2,othello,mapbaseothello_strategy,greedyothello_strategy,1,22025003,4.004758
3,othello,mapbaseothello_strategy,greedyothello_strategy,1,22025005,4.001951
4,othello,mapbaseothello_strategy,greedyothello_strategy,1,22025002,4.837019
...,...,...,...,...,...,...
12296,othello,mctsstrategy5000(mobility_strategy_vs),mctsstrategy10000(mobility_strategy_vs),1,22025002,225490.716020
12298,othello,mctsstrategy10000(evaluateothello_strategy),mctsstrategies5000(random_strategy:mobility_st...,1,22025005,229357.066031
12302,othello,mctsstrategy10000(evaluateothello_strategy),mctsstrategies10000(random_strategy:mobility_s...,1,22025005,235381.838326
12306,othello,mctsstrategy10000(evaluateothello_strategy),mctsstrategies10000(random_strategy:mobility_s...,2,22025002,259126.163899
12307,othello,mctsstrategy10000(evaluateothello_strategy),mctsstrategies10000(random_strategy:mobility_s...,2,22025004,267671.881289

In [32]:
df2

,game_type,player1,player2,winner,seed,game_time
0,othello,mcts2000,mobility_strategy,1,22025004,9.410645
1,othello,mcts2000,mobility_strategy,1,22025005,9.612447
2,othello,mcts2000,mobility_strategy,1,22025003,10.271476
3,othello,mcts1000,mobility_strategy,1,22025004,13.678715
4,othello,mcts1000,mobility_strategy_vs,2,22025001,14.857111
...,...,...,...,...,...,...
4267,othello,mctsstrategy10000(mapbaseothello_strategy),mctsrave10000,1,22025003,921.277909
4268,othello,alphabeta10,mctsstrategy1000(mobility_strategy_vs),2,22025002,173.033113
4269,othello,mctsstrategy1000(mobility_strategy_vs),alphabeta8,1,22025004,186.753920
4270,othello,mctsstrategy1000(mobility_strategy_vs),alphabeta10,1,22025002,180.541974
4271,othello,mobility_strategy,mctsstrategy2000(evaluateothello_strategy),2,22025003,373.833958

In [14]:
df[df[""]]

ValueError: len(left_on) must equal the number of levels in the index of "right"

In [56]:
i = 0
df3 = pd.DataFrame()
for _ , row in df2.iterrows():
    row2 = df.loc[(df['game_type'] == row['game_type']) & (df['player1'] == row['player1']) & (df['player2'] == row['player2']) & (df['seed'] == row['seed']) & (df['winner'] != row['winner'])]
    df3.append((row,row2))
    if len(row2) > 0:
        i+=1 
        
    # else:
        
        # print(row, row2)
print(i)

519

In [74]:
i = 0
for _ , row in df2.iterrows():
    row2 = df.loc[(df['game_type'] == row['game_type']) & (df['player1'] == row['player1']) & (df['player2'] == row['player2']) & (df['seed'] == row['seed']) & (df['winner'] != row['winner'])]
    if len(row2) > 0:
        print(np.concatenate((row.to_numpy(),row2.to_numpy()[0])))
        i+=1 
print(i)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [60]:
df3

Empty DataFrame
Columns: []
Index: []

In [8]:
df.sample(3)

,game_type,player1,player2,winner,seed,game_time
780,othello,mctsrave5000,mcts2000,2,22025004,466.103393
1128,othello,mctsrave5000,mctsstrategy10000(mobility_strategy_vs),2,22025003,1836.107405
346,othello,mctsrave1000,mctsstrategy1000(mobility_strategy_vs),2,22025003,197.988518

In [10]:
result_df[:6]

,wins,draws,defeats,avg game time,score,win%,draws%,defeats%,no games
mcts10000,282,9,127,469.68,286.5,67.464115,2.153110,30.382775,418
mcts5000,259,3,145,439.70,260.5,63.636364,0.737101,35.626536,407
mcts2000,246,4,169,376.62,248.0,58.711217,0.954654,40.334129,419
mcts1000,231,4,185,340.92,233.0,55.000000,0.952381,44.047619,420
mctsrave10000,223,4,167,412.20,225.0,56.598985,1.015228,42.385787,394
mctsrave5000,220,3,184,366.90,221.5,54.054054,0.737101,45.208845,407

In [11]:
df_tournament.iloc[:6,:6]

              mcts10000 mcts5000 mcts2000 mcts1000 mctsrave10000 mctsrave5000
mcts10000         1-1-3    2-0-3    3-0-2    5-0-0         2-0-3        4-0-1
mcts5000          1-0-4    4-0-1    2-0-3    3-0-2         3-0-2        3-0-2
mcts2000          2-0-3    4-0-1    2-0-3    2-0-3         4-0-1        1-0-4
mcts1000          0-1-4    0-0-5    2-0-3    3-0-2         3-0-2        3-0-2
mctsrave10000     3-0-2    2-0-3    2-0-3    2-0-3         3-0-2        3-0-2
mctsrave5000      2-0-3    2-0-3    1-0-4    1-0-4         1-1-3        2-0-3

In [12]:
writer = pd.ExcelWriter('fast_othello_results.xlsx', engine='xlsxwriter')
result_df.to_excel(writer, sheet_name='result_df')
df_tournament.to_excel(writer, sheet_name='df_tournament')
writer.save()